{% extends 'templates/template.twig' %}

    {% set title = 'Portfolio' %}

    {% if page == 'cinemagraphy' %}
        {% set subpage = 'Cinemagraphy' %}
    {% elseif page == 'graphic_design' %}
        {% set subpage = 'Graphic Design' %}
    {% elseif page == 'illustrator' %}
        {% set subpage = 'Illustrator' %}
    {% elseif page == 'logo_design' %}
        {% set subpage = 'Logo Design' %}
    {% elseif page == 'photo_restorations' %}
        {% set subpage = 'Photo Restorations' %}
    {% elseif page == 'photography' %}
        {% set subpage = 'Photography' %}
    {% elseif page == 'web_design' %}
        {% set subpage = 'Web Design' %}
    {% endif %}

    {% block title %}
        {{ title }} {{ subpage }}
    {% endblock %}

    {% block content %}
                
                <section class="transparent_bg padding-1">
                    <h2 class="white-text thin">{{ subpage }}</h2>

                            {% if page == 'cinemagraphy' %}
                                <div class="row">
                                    <div class="col s12">
                                        <article class="racard large">
                                            <div class="racard-image-wrapper">
                                                <img class="racard-image" src="http://i.imgur.com/tyVZxKt.gif" />
                                            </div>
                                            {#<div class="racard-info-trigger">
                                                <a href="#!">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                            </div>#}
                                            <div class="hoverinfo light racard-content-wrapper">
                                                <h4 class="racard-title thin">Summer Storm Evening</h4>
                                                <p class="racard-content">Antwerp, August 13th.</p>
                                                <p class="racard-content">Big storm rolling over us makes for a sleepless but fascinating night, perfect for storm lovers like me!</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row">                                
                                    <div class="col s12 m10 l8">
                                        <article class="racard">
                                            <div class="racard-image-wrapper">
                                                <img class="racard-image" src="http://i.imgur.com/tyVZxKt.gif" />
                                            </div>
                                            <div class="hoverinfo dark racard-content-wrapper">
                                                <h4 class="racard-title thin">Summer Storm Evening</h4>
                                                <p class="racard-content">Antwerp, August 13th.</p>
                                                <p class="racard-content">Big storm rolling over us makes for a sleepless but fascinating night, perfect for storm lovers like me!</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m8 l6">
                                        <article class="racard small">
                                            <div class="racard-image-wrapper">
                                                <img class="racard-image" src="http://i.imgur.com/tyVZxKt.gif" />
                                            </div>
                                            <section class="racard-content-wrapper">
                                                <div class="hoverinfo light">
                                                    <h4 class="racard-title thin">Summer Storm Evening</h4>
                                                    <p class="racard-content">Antwerp, August 13th.</p>
                                                    <p class="racard-content">Big storm rolling over us makes for a sleepless but fascinating night, perfect for storm lovers like me!</p>
                                                </div>
                                            </section>
                                        </article>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </section>
    {% endblock %}