@import url(main.css);

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.ttf');
    src: url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
         url('../font/roboto/Roboto-Regular.woff') format('woff'),
         url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../font/roboto/Roboto-Thin.ttf');
    src: url('../font/roboto/Roboto-Thin.woff2') format('woff2'),
         url('../font/roboto/Roboto-Thin.woff') format('woff'),
         url('../font/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_light';
    src: url('../font/roboto/Roboto-Light.ttf');
    src: url('../font/roboto/Roboto-Light.woff2') format('woff2'),
         url('../font/roboto/Roboto-Light.woff') format('woff'),
         url('../font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../font/roboto/Roboto-Medium.ttf');
    src: url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
         url('../font/roboto/Roboto-Medium.woff') format('woff'),
         url('../font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: oblique;
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../font/roboto/Roboto-Bold.ttf');
    src: url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
         url('../font/roboto/Roboto-Bold.woff') format('woff'),
         url('../font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

body{
    background-image: url(../images/background/main_page.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-width: 320px;

}
body#error404{
    background-image: url(../images/background/404.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: left bottom;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

svg {
    width: 100%;
    height: inherit;
}
svg text{
    text-anchor: middle;
    font-size: inherit;
}

#svg_logo{
    width: initial;
    margin-left:auto; 
    margin-right:auto; 
    display:block;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50);
}

svg #alpha {
    fill: rgba(255, 255, 255, 1);
}
svg #title {
    /*letter-spacing: -2px;
    font-size: 6em;
    */
}
svg #subtitle {
    /*letter-spacing: 8px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;*/
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}
svg #base {
    fill: rgba(0, 0, 0, 0.45);
    -webkit-mask: url(#mask);
        mask: url(#mask);
}

/*@keyframes alpha {
  50%{fill: #000;}
}*/

#materialbox-overlay{
    background: none;
}

.transparent_bg,
.btn,
#navigation li a.active{
    background-color: rgba(0, 0, 0, 0.45);
}
#navigation ul li.active, #navigation ul li a.active{
    background-color: rgba(0, 0, 0, 0.15);
}

#navigation ul li.active i.fa.fa-caret-down{
    display: none;
}
#navigation ul li i.fa.fa-caret-down{
    display: inline-block;
    font-size: 1em;
}
#navigation ul li.active i.fa.fa-caret-up{
    display: inline-block;
}
#navigation ul li i.fa.fa-caret-up{
    display: none;
    font-size: 1em;

}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.65);
}

.side-nav a{
    color: white;
    padding-left: 2em;
}

.side-nav{
    overflow-y: inherit;
}

#social-icons{
    margin: 2em auto 0 auto;
}


#social-icons a{
    padding: 0.8em;
    line-height: initial;
    height: inherit;
    min-width: 30%;
    text-align: center;
}

#navigation li a:hover, #social-icons a:hover{
    background-color: rgba(0, 0, 0, 0.45);
}
#navigation ul li ul li:hover{
    background-color: rgba(0, 0, 0, 0.45);
}
#navigation ul li ul li a:hover{
    background-color: transparent;
}
#navigation ul li ul li a{
    height: 32px;
    line-height: 32px;
}

#navigation li{
    padding: 0;
}

#profile_pic{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.row.profile_image_container{
    max-height: 22em;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.quote{
    font-family: 'Lobster', cursive;
}

#main_container{
    margin-top: 5em;
}

#recent_news_container{
    margin-top: 2em;
}

.input-field .req:after{
    content: " (required)";
    color: salmon;
    opacity: 1;
    position: initial;
    float: right;
}

.input-field .opt:after{
    content: " (optional)";
    color: grey;
    opacity: 1;
    position: initial;
    float: right;
}

  /* label color */
   .input-field label {
     color: white;
     margin-left: 0.5em;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=tel]:focus + label,
   .input-field input[type=file]:focus + label,
   .input-field textarea:focus + label,
   textarea.materialize-textarea:focus:not([readonly]) + label,
   .input-field input[type=password]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=tel]:focus,
   .input-field input[type=file]:focus,
   .input-field textarea:focus,
   textarea.materialize-textarea:focus:not([readonly]),
   .input-field input[type=password]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   /* valid color */
   .input-field input[type=text].valid,
   .input-field input[type=email].valid,
   .input-field input[type=tel].valid,
   .input-field input[type=file].valid,
   .input-field input[type=password].valid {
     border-bottom: 1px solid limegreen;
     box-shadow: 0 1px 0 0 limegreen;
   }
   /* invalid color */
   .input-field input[type=text].invalid,
   .input-field input[type=email].invalid,
   .input-field input[type=tel].invalid,
   .input-field input[type=file].invalid,
   .input-field input[type=password].invalid {
     border-bottom: 1px solid salmon;
     box-shadow: 0 1px 0 0 salmon;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }

   /* overwriting user agent autofill styling */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: rgba(250, 255, 189,0) !important;
    background: rgba(250, 255, 189,0) !important;
    color: white !important;
    -webkit-box-shadow: none;
    -webkit-text-fill-color: white !important;
    transition: background-color 10000s ease-in-out 0s;
}


.collection .collection-item .fa{  
    display: inline-block;
    width: 20px;
    margin-right: 1em;
    text-align: center;
}

.modal ol,
.modal ul{
    margin:0 2em;
}
.modal ol li,
.modal ul li{
    padding-left: 0.5em;
    padding-top: 1em;
}

#login_image{
  margin-top: -23%;
}

.logincardheight{
    height: 120px !important;
}

#login_form .card .card-image{
  height: 150px;
  overflow: hidden;
}

/* CUSTOM IMAGE CARDS */

.racard {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow 0.25s;
    max-height: 350px;
    height: auto;
    width: 100%;}
    .racard.small{
        height: auto;
        max-height: 250px;
        width: 100%;
    }
    .racard.large{
        height: auto;
        max-height: 450px;
        width: 100%;
    }
        .racard-image-wrapper{
            width: 100%;
            overflow: hidden;
        }
        .racard img.racard-image{
            display: block;
            width: 100%;
        }
        .racard span.racard-image{
            display: block;
            width: 100%;
            /*height: 300px;*/
            background: transparent 50% 50% no-repeat;
            background-size: cover;
        }
        .racard span.racard-hoverimage{
            display: block;

        }
        .racard .hoverinfo{
            opacity: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            padding: 0.5em 1em 1em 1em;
        }

        .racard.small .hoverinfo{
            font-size: 0.9em;
        }
        .racard .hoverinfo{
            font-size: 0.95em;
        }
        .racard.large .hoverinfo{
            font-size: 1em;
        }

        .racard .hoverinfo.dark{
            background-color: rgba(0,0,0,0.5);
        }
        .racard .hoverinfo.light{
            background-color: rgba(255,255,255,0.6);
        }

        .racard:hover .hoverinfo{
            opacity: 1;
        }
        .racard-info-trigger{
            color: white;
            text-shadow: 0 1px 4px rgba(255,255,255,0.6);
            opacity: 0.4;
        }
        .racard .active{
            position: absolute;
            right: 0;
            top: 0;
        }
            .racard-content-wrapper{
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;
            }
                .racard-title{
                    display: block;
                    width: 100%;
                    font-size: 1.65em;
                }
                .racard-content{
                    display: block;
                    width: 100%;
                    padding: 0em 0.5em;
                }
                .dark .racard-title{
                    color: white;
                }
                .small .racard-title{
                    font-size: 1.5em;
                }
                .large .racard-title{
                    font-size: 1.8em;
                }
                .dark .racard-content{
                    color: #A0A0A0;
                }
                .light .racard-title{
                    color: black;
                }
                .light .racard-content{
                    color: #282828;
                }
            .racard-link-wrapper{}
                .racard-link{}

/* CUSTOM RESPONSIVE MEDIAQUERIES */

@media only screen and (max-width : 600px){ /* Mobile fixes */
    .side-nav{
        position: initial;
    }

    .promo{
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #profile_pic{
        margin-top: -20%;
    }

    .logincardheight{
        height: 190px !important;
    }

}

@media only screen and (max-width : 992px){

    .collection .collection-item{
        font-size: 0.8em;
        padding: 10px 10px;
    }

    .collection .collection-item .fa{
        width: 16px;
        margin-right: 0.5em;
        text-align: center;
    }
}
