@import url(main.css);

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.ttf');
    src: url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
         url('../font/roboto/Roboto-Regular.woff') format('woff'),
         url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../font/roboto/Roboto-Thin.ttf');
    src: url('../font/roboto/Roboto-Thin.woff2') format('woff2'),
         url('../font/roboto/Roboto-Thin.woff') format('woff'),
         url('../font/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_light';
    src: url('../font/roboto/Roboto-Light.ttf');
    src: url('../font/roboto/Roboto-Light.woff2') format('woff2'),
         url('../font/roboto/Roboto-Light.woff') format('woff'),
         url('../font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../font/roboto/Roboto-Medium.ttf');
    src: url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
         url('../font/roboto/Roboto-Medium.woff') format('woff'),
         url('../font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: oblique;
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../font/roboto/Roboto-Bold.ttf');
    src: url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
         url('../font/roboto/Roboto-Bold.woff') format('woff'),
         url('../font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

body{
    background-image: url(../images/background/main_page.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    font-size: 62.5%;
}
body#error404{
    background-image: url(../images/background/404.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: left bottom;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

svg {
    width: 100%;
    height: inherit;
}
svg text{
    text-anchor: middle;
    font-size: inherit;
}

#svg_logo{
    width: initial;
    margin-left:auto; 
    margin-right:auto; 
    display:block;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50);
}

svg #alpha {
    fill: rgba(255, 255, 255, 1);
}
svg #title {
    /*letter-spacing: -2px;
    font-size: 6em;
    */
}
svg #subtitle1,
svg #subtitle2,
svg #subtitle3,
svg #subtitle4{
    /*letter-spacing: 8px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;*/
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}
svg #base {
    fill: rgba(0, 0, 0, 0.45);
    -webkit-mask: url(#mask);
        mask: url(#mask);
}

/*@keyframes alpha {
  50%{fill: #000;}
}*/

#materialbox-overlay{
    background: none;
}

.transparent_bg, #navigation li a.active{
    background-color: rgba(0, 0, 0, 0.45);
}
.side-nav a{
    color: white;
    padding-left: 2em;
}

.side-nav{
    overflow-y: inherit;
}

#social-icons{
    margin: 2em auto 0 auto;
}


#social-icons a{
    padding: 0.8em;
    line-height: initial;
    height: inherit;
    min-width: 30%;
    text-align: center;
}

#navigation li:hover, #social-icons a:hover{
    background-color: rgba(0, 0, 0, 0.45);
}

#navigation li{
    padding: 0;
}

#profile_pic{
    max-width: 22em;
    width: 100%;
}

.quote{
    font-family: 'Lobster', cursive;
}

#main_container{
    margin-top: 5em;
}
