<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="https://www.facebook.com/2008/fbml">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>{% block title %}{% endblock %} - Roger Antonio</title>


            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <!-- for Google -->
            <meta name="description" content="Roger Antonio - Graphic design, Logo design, Web design, Web development" />
            <meta name="keywords" content="Roger Antonio Vandekerckhove, webdesign, web, development, logo, vieo, graphic, design, website, free, gratis" />

            <meta name="author" content="Roger Antonio Vandekerckhove" />
            <meta name="copyright" content="Roger Antonio Vandekerckhove" />
            <meta name="application-name" content="" />

            <!-- for Facebook -->          
            <meta property="og:title" content="Roger Antonio - Porfolio website" />
            <meta property="og:type" content="article" />
            <meta property="og:image" content="images/social/tile-wide.png" />
            <meta property="og:url" content="http://rogerantonio.com" />
            <meta property="og:description" content="Roger Antonio - Graphic design, Logo design, Web design, Web development" />

            <!-- for Twitter -->          
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="Roger Antonio - Portfolio website" />
            <meta name="twitter:description" content="Roger Antonio - Graphic design, Logo design, Web design, Web development" />
            <meta name="twitter:image" content="images/social/tile-wide.png" />

            <link rel="apple-touch-icon" href="images/social/apple-touch-icon.png">
            <!-- Place favicon.ico in the root directory -->
            <link rel="icon" type="image/png" href="images/social/favicon.png">

            <!-- CSS files -->
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
            <link rel="stylesheet" type="text/css" href="css/normalize.css">
            <link rel="stylesheet" type="text/css" href="css/style.css">

            <!-- Font Icons -->
            <link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">

            <!-- Google Font -->
            <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

            <!-- JavaScript files -->
            <script src="js/vendor/modernizr-2.8.3.min.js"></script>
            <style>
                svg use{
                    display: none;
                }


                @-moz-document url-prefix() {
                    svg use{
                        display: block;
                    }
                }
            </style>

        </head>

        <body>
            <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <header>
                <!-- Header data goes here -->
            </header>
            <main>
                <!-- Content goes in here -->
                
                    <!-- Sidebar -->
                    <div class="row">

                      <div class="side-nav col s12 m3 l2 no-padding card-reveal transparent_bg">
                        <!-- Navigation panel -->

                        <!-- Profile Image or logo -->
                            <div class="row profile_image_container hide-on-small-only"><img id="profile_pic" class="responsive-img" src="images/profile{{ random(6) }}.jpg" data-caption="Roger Antonio" alt="Photo of Roger Antonio"></div>

                            <ul id="navigation">
                                <!-- Navigation buttons -->
                                <li><a href="index.php" class="waves-effect waves-light {% if title == 'Home' %}active{% endif %}">Home</a></li>
                                <li><a href="#" class="waves-effect waves-light {% if title == 'Blog' %}active{% endif %}">Blog</a></li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a href="#!" class="waves-effect waves-light {% if title == 'Projects' %}active{% endif %} collapsible-header">Projects<i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a class="waves-effect waves-light {% if title == 'Cinemagraphy' %}active{% endif %}" href="#!">Cinemagraphy</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Graphic Design' %}active{% endif %}" href="#!">Graphic Design</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Illustrator' %}active{% endif %}" href="#!">Illustrator</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Logo Design' %}active{% endif %}" href="#!">Logo Design</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Photo Restorations' %}active{% endif %}" href="#!">Photo Restorations</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Photography' %}active{% endif %}" href="#!">Photography</a></li>
                                                <li><a class="waves-effect waves-light {% if title == 'Web Design' %}active{% endif %}" href="#!">Web Design</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <li><a href="contact.php" class="waves-effect waves-light {% if title == 'Stalk and Contact me' %}active{% endif %}">Contact</a></li>
                            </ul>
                        </div>

                    <div class="right col s12 m9 l10">
                        <!-- Page content  -->
                            <div id="main_container" class="container z-depth-1">
                                {% block content %}{% endblock %}
                            </div>
                        {% if title == 'Home' %}
                            <div id="recent_news_container" class="container z-depth-1">
                                {% block newscontent %}{% endblock %}
                            </div>
                        {% endif %}
                    </div>

                
            </main>
            <footer>
                <!-- Footer data goes here -->
            </footer>

            

            <!-- Import jQuery before materialize.js -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="js/materialize.min.js"></script>
            <script type="text/javascript">
                (function($) {
                    $.fn.extend({
                    rotaterator: function(options) {

                      var defaults = {
                        fadeSpeed: 500,
                        pauseSpeed: 100,
                        child: null
                      };

                      var options = $.extend(defaults, options);

                      return this.each(function() {
                        var o = options;
                        var obj = $(this);
                        var items = $(obj.children(), obj);
                        items.each(function() {
                          $(this).hide();
                        })
                        if (!o.child) {
                          var next = $(obj).children(':first');
                        } else {
                          var next = o.child;
                        }
                        $(next).fadeIn(o.fadeSpeed, function() {
                          $(next).delay(o.pauseSpeed).fadeOut(o.fadeSpeed, function() {
                            var next = $(this).next();
                            if (next.length == 0) {
                              next = $(obj).children(':first');
                            }
                            $(obj).rotaterator({
                              child: next,
                              fadeSpeed: o.fadeSpeed,
                              pauseSpeed: o.pauseSpeed
                            });
                          })
                        });
                      });
                    }
                    });
                    })(jQuery);

                    $(document).ready(function() {
                    $('#rotate').rotaterator({
                    fadeSpeed: 500,
                    pauseSpeed: 2000
                    });
                    });
            </script>
        </body>
    </html>